.header {
	background-color: #000;
}

.center
{
	margin:auto;
	width:55%;
}

.container {
	width: 1000;
	background-color: #000;
	margin: -20 auto; /* the auto value on the sides, coupled with the width, centers the layout */
}

body {
	background: #42413C url(bg.png);
	font-family: Helvetica, sans-serif; font-size: 18px; line-height: 24px;
}

/* Sidebar */

ul#sidebar
{
	font-size: .75em;
	margin: 35px 0;
}
ul#sidebar li.sidebar-element h3,
ul#sidebar li.sidebar-element a
{
	display: block;
	width: 150px;
	padding: 5px 15px;
	margin: 0;
	margin-bottom: 5px;
}
ul#sidebar li.sidebar-element h3
{
	color: #ff0000;
	background: #333;
	border: 1px solid #1a1a1a;
	font-weight: normal;
}
ul#sidebar li.sidebar-element a
{
	color: #999;
	background: #222;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}
ul#sidebar li.sidebar-element a:hover { color: #ff0000; }

/* search */

#search input[type="text"] {
    background: url(search-dark.png) no-repeat 10px 6px #444;
    border: 0 none;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #FFF;
    width: 185px;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
    }

#search input[type="text"]:focus {
    width: 900;
	color: #DF0101;
	background-color: #000;
    }

/* Div tag */

#centerpage {
   	position:absolute;
	top: 29%;
	left: 50%;
	width:35em;
    height:18em;
    margin-top: auto; 
    margin-left: -10em; 
}

/* Slogan */

.slogan {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #FF0000;
	font-weight: bold;
	font-variant: normal;
	font-style: italic;
	text-align: center;
	font-size: 18px;
}
